@charset "UTF-8";
body{
	background-color:#ffffff;
	margin:0px auto;
	border-color:#ffffff;

}
header{
	background-color:#008080;
	display:block;
	text-align:left;
	padding-top:1px;
	padding-left:20px;
	padding-bottom:1px;
}
.total{

	background-color:#008080;
}
.part{
	background-color:#ffffff;
}
#container{
	background-color:#ffffff;
	display:block;
	
}
#my{
	background-color:#ffffff;
	text-align:center;
	width:12%;
	float:left;
	border-style:solid;
	border-width:1px;
	border-color:#004040;	
}
.limit{
	border-style:solid;
		
	border-width:0 0 1px 0;
	border-color:#cdcdd6;	
	width:100%;
}
#content{
	background-color:#ffffff;
	width:83%;
	float:left;
}

.aleft:link,.aleft:visited{
	color:#000000;
	font-weight:bold;
	
}
。awhite:link,.awhite:visited{
	color:#ffffff;
	font-weight:bold;
	
}
。afing:link,.afing:visited{
	color:#008080;
	font-weight:bold;
	
}
。afinw:link,.afinw:visited{
	color:#000000;
	font-weight:bold;
	
	
}
.exit{
	color:#ffffff;
	
}
li{
	list-style:none;
	padding:5px;
	
}

footer{
   clear:both;
   display:block;
   background-color:#008080;
   color:#000000;
   text-align:center;
   

}
.h2while{
	color:#ffffff;	
	text-align:center;
}
.pwhite{
	color:#ffffff;	
	margin-left:10px;
}
.mystrong{
	color:#ffffff;
}
.myh3{
	color:#008080;
}
h2{
	text-align:center;
}

.tdcenter
{
	color:#008080;
	font-weight:bold;
    vertical-align:middle;
    text-align:center;
    
}
.xian{
	border-bottom:1px solid #000;
	border-top:0px;
	border-left:0px;
	border-right:0px;
	outline:none
}
.bunone{
	border: none;
    outline: none;
	background-color:#ffffff;
	width:70px;
	height:35px;
	font-size:15px;
}
.bugreen{
	border: none;
    outline: none;
	background-color:#ffffff;
	color:#008080;
	width:70px;
	height:35px;
	font-size:15px;
}
.float{
   text-align:center;
	width:20%;
	height:150px;
	position:fixed;right:5px;
	float:inherit;
	background-color:#008080;
	color:#ffffff;	
	border-style:solid;
	border-width:2px;
	border-color:#008080;
	margin：auto;
}
.left{	
	background-color:#ffffff;
	width:80%;
	float:left;
}
.submitlv{
	background-color:#008080;
	color:#ffffff;	
	width:70px;
	height:40px;
	font-size:15px;
	border-style:solid;
	border-color:#ffffff;
}
.tdunused{
	background-color:#ffffff;
	color:#000000;
	border-color:#008080;
}
.dropbtn {
    background-color: #ffffff;
    color: #000000;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f1f1f1;
}
a{ text-decoration:none} 







